export POSTGRES_HOST="localhost"
export POSTGRES_PORT=5432
export POSTGRES_DB="dbname"
export POSTGRES_USER="admin"
export POSTGRES_PASSWORD="password"

export TMDB_TOKEN=""

export SIMKL_CLIENT_ID=""
export SIMKL_CLIENT_SECRET=""

export TRAKT_CLIENT_ID=""
export TRAKT_CLIENT_SECRET=""
