{% extends "base.html" %}

{% load custom_tags %}

{% block content %}
  <div class="grid grid-cols-12 gap-y-12 mb-22 ml-18">
    {% for result in results %}
      {% with result.movie as movie %}
        <div
          class="w-full col-span-6 flex flex-col items-center"
          id="{{ movie.slug }}"
        >
          <h3 class="text-xl w-150 border-b-4">
            {{ movie.title }} ({{ movie.year }})
          </h3>
          <div class="flex">
            <div class="w-65 p-1 border-x-4 border-b-4 border-white">
              <div class="relative">
                <img src="{{ movie.poster }}" alt="product image" />
                <button
                  class="bg-[rgba(106,187,90,0.75)] w-full h-13 absolute bottom-0 cursor-pointer font-bold"
                  id="add-to-watchlist-{{ movie.tvdb_id }}"
                  :class="{
                    'bg-[rgba(106,187,90,0.90)]': added || onWatchlist,
                    'hover:cursor-default': added || onWatchlist,
                    'hover:bg-[rgba(106,187,90,0.90)]': ! added && ! onWatchlist,
                  }"
                  x-data="{
                    onWatchlist: `{{ result.on_watchlist }}` === 'True',
                    added: `{{ result.added_to_watchlist }}` === 'True',
                    loading: false,
                    error: false,
                  }"
                  x-on:click="
                    if (onWatchlist || added) {
                      return;
                    }
                    loading = true;
                    fetch('/movies/{{ movie.tvdb_id }}/add-to-watchlist', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'Accept': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                      },
                    })
                    .then(response => response.json())
                    .then(response => {
                      loading = false;
                      if (response.status == 200) {
                        added = true;
                        disabled = true;
                        const flashMessageHTML = `{% flash_message_html message_tags.success %}`;
                        $showFlashMessage(flashMessageHTML, response.message);
                      } else {
                        const flashMessageHTML = `{% flash_message_html message_tags.error %}`;
                        $showFlashMessage(flashMessageHTML, response.message);
                      }
                    });
                  "
                  x-text="
                    onWatchlist ? 'On watchlist' :
                    added ? 'Added to watchlist' :
                    loading ? 'Adding to watchlist...' :
                    'Add to watchlist';
                  "
                >
                </button>
              </div>
            </div>
            <div class="w-85 pt-2 pl-3 text-md">
              <div>
                <p>Country: {{ movie.country }}</p>
                <p>Language: {{ movie.language }}</p>
                <p>Runtime: {{ movie.runtime }} minutes</p>
                <p>
                  <span>Genres:</span>
                  {% for genre in movie.genres.all %}
                    {{ genre.name }}{% if not forloop.last %}, {%endif %}
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
      </div>
      {% endwith %}
    {% endfor %}
  </div>
  <div class="flex justify-center">
    <div class="flex items-center justify-between mt-2 xs:mt-0 w-2/3">
      <div class="flex items-center">
        {% if page_obj.has_previous %}
          <svg
            class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"
          >
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
          </svg>
          <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
      </div>
      <span>
        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>
      <div class="flex items-center">
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
          <svg
            class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"
          >
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
