{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en" class="h-full m-0">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% if is_development %}
    <link rel="stylesheet" href="{% vite_asset_path "core/static/src/styles/main.css" %}">
  {% else %}
    <link rel="stylesheet" href="http://localhost:5173/core/static/src/styles/main.css">
  {% endif %}
</head>
<body class="h-full m-0 text-white bg-black">
  <div class="h-1/6 grid grid-cols-12 relative">
    <div
      class="absolute top-0 left-1/2 transform -translate-x-1/2 w-1/2"
      id="flash-message-container"
    >
      {% if messages %}
        {% for message in messages %}
          {% if forloop.first %}
            {% flash_message message %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>

    <div class="border-r-2 border-white col-span-2">
      <span class="h-full flex justify-center items-center">
        <a href="{% url "index" %}">LOGO</a>
      </span>
    </div>
    <div class="col-span-2 flex items-center ml-8">
      {% if not headerless %}
        <h1 class="text-2xl font-semibold">
          {% if request.path == "/" %}
            Find movies
          {% elif request.path == "/sign-in" %}
            Sign in
          {% endif %}
        </h1>
      {% endif %}
    </div>
    <div class="col-span-6"></div>
    <div class="col-span-2 flex items-center">
      <ul class="w-full flex justify-evenly uppercase">
        <li>
          <a href="{% url "index" %}">Find movies</a>
        </li>
        <li>
          {% if is_signed_in %}
            <form method="POST" action="{% url "sign_out" %}">
              {% csrf_token %}
              <input type="submit" value="Sign out" class="uppercase cursor-pointer"/>
            </form>
          {% else %}
            <a href="{% url "sign_in" %}">Sign in</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
  <div class="h-5/6 grid grid-cols-12">
    <div class="border-r-2 border-white col-span-2"></div>
    <div class="col-span-8 p-8">
      {% block content %}
      {% endblock %}
    </div>
    <div class="col-span-2 border-l-2"></div>
  </div>

  {% if is_development %}
    <script type="module" src="http://localhost:5173/core/static/src/js/main.js"></script>
  {% else %}
    <script
      type="module"
      src="{% vite_asset_path "core/static/src/js/main.js" %}"
    >
    </script>
  {% endif %}
</body>
</html>
