{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en" class="h-full m-0">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% if is_development %}
    <link rel="stylesheet" href="{% vite_asset_path "core/static/src/styles/main.css" %}">
  {% else %}
    <link rel="stylesheet" href="http://localhost:5173/core/static/src/styles/main.css">
  {% endif %}
</head>
<body class="h-full flex flex-col justify-between m-0 text-white bg-black">
  <div class="grid grid-cols-12">
    <div
      class="fixed z-[9999] top-0 left-1/2 transform -translate-x-1/2 w-1/2"
      id="flash-message-container"
    >
      {% if messages %}
        {% for message in messages %}
          {% if forloop.first %}
            {% flash_message message %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-span-10"></div>
    <nav class="h-full col-span-2 flex items-center p-8">
      <ul class="w-full flex justify-evenly uppercase">
        <li class="mr-5">
          <a href="{% url "index" %}">Find movies</a>
        </li>
        <li>
          {% if is_signed_in %}
            <form method="POST" action="{% url "sign_out" %}">
              {% csrf_token %}
              <input type="submit" value="Sign out" class="uppercase cursor-pointer"/>
            </form>
          {% else %}
            <a href="{% url "sign_in" %}">Sign in</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>

  <main class="flex-grow">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="w-full mt-16">
    <a class="flex justify-center items-center mx-0 p-[15px] bg-[#365658] hover:bg-[#406264] border border-[#0d1313] min-h-[80px] text-[13px]" style="" href="https://thetvdb.com/subscribe">
      <img src="https://thetvdb.com/images/attribution/logo1.png" class="h-[45px] mx-4">
      Metadata provided by TheTVDB. Please consider adding missing information or subscribing.
    </a>
  </footer>

  {% if is_development %}
    <script type="module" src="http://localhost:5173/core/static/src/js/main.js"></script>
  {% else %}
    <script
      type="module"
      src="{% vite_asset_path "core/static/src/js/main.js" %}"
    >
    </script>
  {% endif %}
</body>
</html>
