<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="{% static "dist/styles.css" %}">
</head>
<body class="h-screen text-white bg-black">
  <div class="h-1/6 grid grid-cols-12">
    <div class="border-r-2 border-white col-span-2">
      <span class="h-full flex justify-center items-center">
        <a href="{% url "index" %}">LOGO</a>
      </span>
    </div>
    <div class="col-span-2 flex justify-center items-center">
      {% if request.path == "/" %}
          <h1 class="text-2xl font-bold">Find movies</h1>
      {% elif request.path == "/sign-in" %}
      <h1 class="text-2xl font-bold">Sign in</h1>
      {% else %}
        <h1 class="text-2xl font-bold">Helloo where is my header name??</h1>
      {% endif %}
    </div>
    <div class="col-span-6"></div>
    <div class="col-span-2 flex items-center">
      <ul class="w-full flex justify-evenly">
        <li class="uppercase">
          <a href="{% url "index" %}">Find movies</a>
        </li>
        <li class="uppercase">
          <a href="{% url "sign_in" %}">Sign in</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="h-5/6 grid grid-cols-12">
    <div class="border-r-2 border-white col-span-2"></div>
    <div class="col-span-8 p-8">
      {% block content %}
      {% endblock %}
    </div>
    <div class="col-span-2 border-l-2"></div>
  </div>
</body>
</html>
